In [42]:
import pandas as pd
df=pd.read_csv(r"C:\Users\mapas\Downloads\energydata_complete (1).csv")
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

# 1The percent of the total variation of the dependent variable Y explained by the set of independent variables X is measured by

Answer
Coefficient of Correlation

# 2.How do you define a Residual?
answer
Y −  Y^

# 3.The straight line graph of the equation Y = a + BX, the slope is horizontal if
answer
b = 0

# 4.Which of the one is true about Heteroskedasticity?
answer
Linear Regression with varying error terms

# 5.Generally, which of the following method(s) is used for predicting continuous dependent variables?

# 1. Linear Regression

# 2. Logistic Regression
 answer
 1 only

# .6From the following options below, which of these is/are true about “Ridge” or “Lasso” regression methods in case of feature selection?

answer
 Lasso regression uses subset selection of features

# 7.Which of the following sentences is/are true about outliers in Linear Regression:

answer
Linear regression is sensitive to outliers

# 8. Which of the following metrics can be used for evaluating regression models? 1. R Squared, 2. Adjusted R Square3. F Statistics4. RMSE / MSE / MAE

answer
2 and 4

# 9.Which of the following metrics can be used for evaluating regression models? 1. R Squared, 2. Adjusted R Squared, 3. F Statistics,4. RMSE / MSE / MAE

answer
The correlation between X and Y is 0.75

75% of the variance in Y is explained by X

The model is performing with 75% accuracy

#  10.Which of the following measures is optimal for comparing the goodness of the fit of competing regression models involving the same dependent variable?

answers
R-square

# 11. The Lasso can be interpreted as least-squares linear regression where:

answers
Weights are regularized with the L1 norm

# 12From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [84]:

DF=df.drop(columns=['lights', 'date'],axis=1)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(DF), columns=DF.columns)
x=normalised_df['T2']
y=normalised_df['T6']

from sklearn.metrics import r2_score
r2_score = r2_score(y, x)
round(r2_score, 3)

0.324


# 13 Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:
# What is the Mean Absolute Error (in two decimal places)?

In [43]:
DF=df.drop(columns=['lights', 'date'],axis=1)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(DF), columns=DF.columns)
features_df = normalised_df.drop('Appliances', axis=1)
Target = normalised_df['Appliances']

from sklearn.model_selection import*
x_train, x_test, y_train, y_test = train_test_split(features_df, Target,
test_size=0.3, random_state=42)

from sklearn.linear_model import*
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.05

# 14.What is the Residual Sum of Squares (in two decimal places)?

In [44]:
#14
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)

45.348

# 15.What is the Root Mean Squared Error (in three decimal places)?

In [45]:
#15
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

# 16.What is the Coefficient of Determination (in two decimal places)?

In [46]:

from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

# 17. Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [47]:

coeff = pd.DataFrame(linear_model.coef_, x_train.columns, columns=['Coefficient'])

In [54]:
 coeff[coeff==coeff.min()]

             Coefficient
T1                   NaN
RH_1                 NaN
T2                   NaN
RH_2           -0.456698
T3                   NaN
RH_3                 NaN
T4                   NaN
RH_4                 NaN
T5                   NaN
RH_5                 NaN
T6                   NaN
RH_6                 NaN
T7                   NaN
RH_7                 NaN
T8                   NaN
RH_8                 NaN
T9                   NaN
RH_9                 NaN
T_out                NaN
Press_mm_hg          NaN
RH_out               NaN
Windspeed            NaN
Visibility           NaN
Tdewpoint            NaN
rv1                  NaN
rv2                  NaN

In [53]:
coeff[coeff== coeff.max()]

             Coefficient
T1                   NaN
RH_1            0.553547
T2                   NaN
RH_2                 NaN
T3                   NaN
RH_3                 NaN
T4                   NaN
RH_4                 NaN
T5                   NaN
RH_5                 NaN
T6                   NaN
RH_6                 NaN
T7                   NaN
RH_7                 NaN
T8                   NaN
RH_8                 NaN
T9                   NaN
RH_9                 NaN
T_out                NaN
Press_mm_hg          NaN
RH_out               NaN
Windspeed            NaN
Visibility           NaN
Tdewpoint            NaN
rv1                  NaN
rv2                  NaN

# 18Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [76]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
predict=ridge_reg.predict(x_test)

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predict))
round(rmse, 3)

0.088

# 19.Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [60]:

from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [67]:

coeff = pd.DataFrame(lasso_reg.coef_, x_train.columns, columns=['Coefficient'])

In [75]:
A=coeff!=0.000000
A.sum()

Coefficient    4
dtype: int64

# 20 What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [62]:
#20

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, A))
round(rmse, 3)

0.094