In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import seaborn as sns

In [17]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score, confusion_matrix

In [18]:
Df=pd.read_csv(r'/Data_for_UCI_named.csv')
Df

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,0.023892,unstable
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,-0.025803,stable
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,-0.031810,stable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,0.037789,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,0.045263,unstable

In [19]:
Df.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [20]:
Df.drop(columns=[ 'stab' ], inplace=True)

In [21]:
Df

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,unstable
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,stable
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,stable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,unstable

In [22]:
y=Df['stabf']

In [23]:
x=Df.drop(columns=['stabf'])

In [24]:
from sklearn.model_selection import *

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2 , random_state= 1 ) 
y_train.value_counts()

unstable    5092
stable      2908
Name: stabf, dtype: int64

In [26]:
y_test

9953    unstable
3850    unstable
4962      stable
3886      stable
5437    unstable
          ...
3919      stable
162       stable
7903      stable
2242    unstable
2745    unstable
Name: stabf, Length: 2000, dtype: object

In [27]:
y_test

9953    unstable
3850    unstable
4962      stable
3886      stable
5437    unstable
          ...
3919      stable
162       stable
7903      stable
2242    unstable
2745    unstable
Name: stabf, Length: 2000, dtype: object

In [28]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [29]:
normalised_train_df = scaler.fit_transform(x_train)

In [30]:
normalised_train_df=pd.DataFrame(normalised_train_df)

In [31]:
normalised_test_df = scaler.transform(x_test)

In [32]:
normalised_test_df=pd.DataFrame(normalised_test_df)

**Extra Tree**

1. TN = 96%, FP = 4%, FN = 10%, TP = 90%

2. F1 Score

In [61]:
recall=255/(255+45)
precision=255/(255+1380)
(2* recall* precision) / (recall + precision)

0.2635658914728682

3.Overfitting

4.RMSE Value

5. To make the algorithm **stronger**

6.Boosting

7. Precision

8. The model has no discrimination capacity to differentiate between the positive and the negative class

9. 8

10. Collect more data for the positive case

 Generate synthetic samples/data using SMOTE

11. One-hot encoding

12.  -3/7 log(4/7) + 4/7 log(3/7)

13. **Accuracy**

14. **Random** **Forest**

In [59]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(random_state =1)
RandomF=clf.fit(normalised_train_df, y_train)
PClf=clf.predict(normalised_test_df)
Accuracy=accuracy_score(y_true=y_test, y_pred=PClf) 

Accuracy

0.929

15.**XGBOOST**

In [41]:
import xgboost
Classy=xgboost.XGBClassifier(random_state=1)
Classy.fit(normalised_train_df, y_train)

XGBClassifier(random_state=1)

In [42]:
PClassy=Classy.predict(normalised_test_df)
PClassy

array(['unstable', 'unstable', 'stable', ..., 'stable', 'unstable',
       'unstable'], dtype=object)

In [43]:
accuracy_score(y_true=y_test, y_pred=PClassy)

0.9195

**16** **LIGHTGM**

In [44]:
import lightgbm
light=lightgbm.LGBMClassifier(random_state=1)
light.fit(normalised_train_df, y_train)

LGBMClassifier(random_state=1)

In [45]:
Plight=light.predict(normalised_test_df)
Plight

array(['unstable', 'unstable', 'stable', ..., 'stable', 'unstable',
       'unstable'], dtype=object)

In [46]:
accuracy_score(y_true=y_test, y_pred=Plight)

0.9375

17

In [67]:
from sklearn.ensemble import ExtraTreesClassifier
etr=ExtraTreesClassifier(random_state=1)
ETree= etr.fit(normalised_train_df, y_train)
PEtr=etr.predict(normalised_test_df)
accuracy_score(y_true=y_test, y_pred=PEtr)

0.928

In [ ]:
n_esti= [100, 1000]
m_s_split =[2, 7]
m_s_leaf= [4,8]
max_features= [ 'log2', 'auto']

parameters={'n_estimators': n_esti, 'min_samples_split':m_s_split , 'min_samples_leaf':m_s_leaf, 'max_features':max_features }
A=RandomizedSearchCV(estimator=etr, param_distributions= parameters, cv=5, n_iter=10, scoring = 'accuracy', n_jobs = -1, verbose = 1, random_state = 1)
A.fit(normalised_train_df, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

In [62]:
A.best_params_

{'n_estimators': 1000,
 'min_samples_split': 7,
 'min_samples_leaf': 4,
 'max_features': 'log2'}

N_estimators = 100 , min_samples_split = 7 , min_samples_leaf = 4, max_features = None

*18* Lower

In [68]:
HPEtr=A.predict(normalised_test_df)
accuracy_score(y_true=y_test, y_pred=HPEtr)

0.9255

19.A, B, C

20. tau2, p1

In [66]:
etr.feature_importances_

array([0.11739736, 0.11844468, 0.11316851, 0.11546569, 0.03950675,
       0.04037132, 0.04070628, 0.04057864, 0.08978291, 0.09367636,
       0.09688268, 0.09401882])

In [65]:
sorted(zip(etr.feature_importances_, normalised_train_df.columns), reverse=True)

[(0.11844468079199041, 1),
 (0.11739736493320078, 0),
 (0.11546569217199552, 3),
 (0.11316851246674982, 2),
 (0.09688268324346265, 10),
 (0.09401881529815702, 11),
 (0.09367635844551439, 9),
 (0.08978290601483987, 8),
 (0.040706278296424536, 6),
 (0.040578638540044426, 7),
 (0.04037131556379323, 5),
 (0.039506754233827476, 4)]